.player {
  position: absolute;
  background-color: red;
  width: 20px;
  height: 20px;
}

.enemy {                              /* start=2 */
  position: absolute;                 /* start=2 */
  background-color: blue;           /* start=2 */
  width: 20px;                        /* start=2 */
  height: 20px;                       /* start=2 */
  text-align: center;                 /* start=2 */
}                                     /* start=2 */
